.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .form-container h1 {
      padding:20px 0;
    color: rgb(0, 187, 0);
  }
  